src/main/mule/dump.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config12" doc:name="HTTP Listener config" doc:id="cea78b24-da79-4e8e-be61-e8901c36f496" >
		<http:listener-connection host="0.0.0.0" port="8088" />
	</http:listener-config>
	<flow name="dumpFlow" doc:id="848a8026-21f1-451f-8284-c93996ba9c2f" >
		<http:listener doc:name="Listener" doc:id="e4439a7c-56e4-4d8f-993e-09ec3fa1f4ea" config-ref="HTTP_Listener_config12" path="/api"/>
		<logger level="INFO" doc:name="Logger" doc:id="a3ea9af3-0d1b-48aa-8a2d-0903365ee0aa" message="start"/>
		<ee:transform doc:name="Transform Message" doc:id="5b7387a7-cd41-414c-a2b9-8dc4a54f0b1c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "sucess"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e3b005ad-376d-4f95-865b-2379a5404c4a" />
		<logger level="INFO" doc:name="Logger" doc:id="ce485dca-9c63-4453-a644-a7216c88ba60" message="end"/>
	</flow>
</mule>
